* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .3s;
}

body {
    font-family: IRANSans;
    text-align: right;
    background-color: #f5f5f5;
}

header {
    direction: rtl;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.10);
    background-color: #fff;
}

main {
    direction: rtl;
}

a {
    text-decoration: none !important;
}

.form-search {
    margin-right: 10px;
}

.div-search {
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 48px;
    color: #9e9e9e;
}

.div-search > button {
    border: none;
    outline: none;
    color: #9e9e9e;
}

.div-search > a > i {
    font-size: 20px;
}

.search-input {
    background-color: #f0f0f0;
    border: none;
    outline: none;
    font-weight: 300;
    font-size: 15px;
}

.search-input:hover,
.search-input:focus,
.search-input:active,
.search-input:not(:disabled):not(.disabled).active,
.search-input:not(:disabled):not(.disabled):active,
.show > .search-input.dropdown-toggle {
    outline: none;
    background-color: #f0f0f0;
    border: none;
    box-shadow: none;
}

div.input-bottom {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .15);
    height: 72px;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    margin-top: 2px;
    width: 100%;
    text-align: right;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
}

div.input-bottom > p {
    border-bottom: 1px dashed #eee;
    color: #333;
    font-size: 14px;
    padding: 0 0 4px;
}

div#navbarNav {

}

div#navbarNav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#navbarNav > ul > li > a {
    color: #8a8a8a;
    text-decoration: none;
    direction: rtl;
    padding-bottom: 0;
}

div#navbarNav > ul > li > a:hover {
    color: #333;
}

div#navbarNav > ul > li > a > i {
    font-size: 21px;
    margin-left: 12px;
}

a.login {
    font-size: 13px;
}

.navbar-book {
    padding: 12px 0 0;
}

div.nav-bottom {
    padding: 0 15px;
}

div.nav-bottom > ul > li {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    height: 60px;
}

div.nav-bottom > ul > li:hover {
    cursor: pointer;
    border-bottom: 2px solid #28c5cc;
}

div.nav-bottom > ul > li:hover > a,
div.nav-bottom > ul > li:hover > i {
    color: #28c5cc !important;
}

div.nav-bottom > ul > li > a {
    color: #212121;
    font-size: 14px;
    padding-bottom: 0;

}

div.nav-bottom > ul > li > i {
    color: #757575;
    font-size: 21px;
}

div.nav-bottom > form {
    /*padding-bottom: 15px;*/
}

div.nav-bottom > form > button {
    font-size: 13px;
    color: #fff;
    background-color: #28c5cc;
    padding: 13px 60px;
    line-height: 15px;
    border-radius: 10px;
}

.div-menu-audio {
    background-color: #fff;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}

.menu-audiobook {
    padding: 20px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.menu-audiobook > li {
    margin: 0 15px 5px 0;
    list-style: none;
    width: 250px;
}

.menu-audiobook > li > a {
    text-decoration: none;
    color: #000 !important;
    font-size: 16px;
    font-weight: 500;
}

.menu-audiobook > li > a:hover {
    color: #28c5cc !important;
}

.menu-audiobook > li > ul {
    padding: 0;
}

.menu-audiobook > li > ul > li {
    list-style-type: none;

}

.menu-audiobook > li > ul > li > a {
    text-decoration: none;
    padding: 3px 0;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
    font-size: .9em !important;
}

.menu-audiobook > li > ul > li > a:hover {
    color: #28c5cc !important;
}

@media (min-width: 1200px) {
    .div-search {
        width: 704px;
    }
}

.title-part {
    padding: 15px 0 0 15px;
}

.title-of-page {
    border-bottom: 1px solid #e9e9e9;
    padding-right: 5px;
    margin-bottom: 15px;
}

.title-of-page > a {
    color: #636363 !important;
    font-size: 14px;
    margin-bottom: 2px;
}

.title-of-page > span {
    color: #636363 !important;
    font-size: 14px;
    margin: 0 8px 2px;
}

.title-of-page > p {
    color: #333;
    margin-bottom: 2px;
    font-size: 14px;
}

.col-md-2{
    padding-right: 0;
}

.card-group {
    display: block;
}

.card-group > div.card {
    border: 1px solid #cccc;
    border-radius: 0;
    /*-webkit-box-shadow: 0 3px 6px 0 rgba(0 0 0 , 0.006);*/
    /*-moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.06);*/
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 5px;
}

.card-group > div > div.card-header {
    padding: 9px 14px;
}

.card-group > div > div > a {
    color: #656565;
    font-size: 14px;

}

.card-group > div > div > a:hover {
    color: #23527c !important;
}

.card-group > div > ul {
    margin-top: 15px;
    margin-right: 7px;
    padding-bottom: 15px;
}

.card-group > div > ul > li {
    border-bottom: none;
    padding: 0;
    margin-bottom: 2px;
}

.card-group > div > ul > li > a {
    color: #5d5d5d !important;
    font-size: 14px;
}

.card-group > div > ul > li > a:hover {
    color: #23527c !important;
}

.card-group > div > ul > li > ul {
    margin-right: 7px;
}

.card-group > div > ul > li > ul > li {
    border-bottom: none;
    padding: 0;
    margin-bottom: 2px;
}


.card-group > div > ul > li > ul > li > a {
    color: #5d5d5d !important;
    font-size: 14px;
}

.card-group > div > ul > li > ul > li > a:hover {
    color: #23527c !important;
}

.card-group > div.b-l {
    border-left: 1px solid #cccc !important;
}

.card-search-book{
    padding: 0;
}

.input-search-book {
    padding: 7px 15px;
}

.input-search-book > input {
    outline: none !important;
    font-size: 12px;
    padding-right: 30px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0 ,0 ,0 ,.08);
    box-shadow: inset 0 1px 1px rgba(0 ,0 ,0 ,.08);
}

.input-search-book > input:hover,
.input-search-book > input:focus,
.input-search-book > input:active,
.input-search-book > input:not(:disabled):not(.disabled).active,
.input-search-book > input:not(:disabled):not(.disabled):active,
.show > .input-search-book > input.dropdown-toggle {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.input-search-book > i {
    position: absolute ;
    font-size: 16px;
    color: #929292;
    padding: 10px;
}
div.scroll-type{
    max-height: 540px;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.type-book > div.electronic-type{
    margin: 8px 0 7px;
    padding: 3px;
}

div.type-book > div.electronic-type:hover{
    background-color: #eee;
}

div.type-book > div.electronic-type > p{
    color: #929292;
    font-size: 13px;
    margin: 0 5px 0 0;
}

div.type-book > div.audio-type{
    margin-bottom: 20px;
    padding: 3px;
}

div.type-book > div.audio-type:hover{
    background-color: #eee;
}

div.type-book > div.audio-type > p{
    color: #929292;
    font-size: 13px;
    margin: 0 5px 0 0;
}

/* The container */
.check {
    display: block;
    position: relative;
    padding-left: 18px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background-color: #fff;
    border:1px solid #bdc3c7;
}


/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 3px;
    top: 0;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.all-of-text{
    padding: 15px;
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 45px;
}

.text-about-book{
    max-height: 155px;
    overflow: hidden;
    background: -webkit-linear-gradient(#525252, #e3d8d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-about-book > h4{
    color: #525252;
    font-size: 14px;
    margin-bottom: 12px;
}
.text-about-book > h2{
    color: #525252;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 5px 0 0 7px;
}
.text-about-book > p{
    color: #525252;
    font-size: 14px;
    margin-bottom: 12px;
}
.text-about-book > p >strong > a{
    color: #525252;
}
.text-about-book > p >strong > a:hover{
    color: #23527c;
}
.text-about-book > ul{
    list-style-type: none;
}

.text-about-book > ul > li{
    color: #525252;
    font-size: 14px;
}
.text-about-category{
    margin-top: 15px;
}

.text-about-category > li{
    display: inline-block;
    padding: 0 5px;
}
.text-about-category > li > a{
    color: #525252;
}
.text-about-category > li > a:hover{
    color: #23527c;
}
.close-text{
    text-align: center;
}

.close-text > span{
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.open-text{
    text-align: center;
}

.open-text > span{
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.sort-nav{
    border-bottom: 1px solid #e9e9e9;
}

.sort-div{
    margin-bottom: 9px;
}

.sort-with{
    font-size: 13px;
    color: #464646 !important;
    margin-right: 0 !important;
    padding: 0 0 0 12px;
}

.sort-with > i{
    margin-left: 3px;
}

.sort-books > li {
    margin-right: 2px;
    display: flex;
    align-items: center;
}

li.best-active{
    background-color: #00bec6;
    border-radius: 4px;
}

li.best-active > a{
    color: #fff !important;
}

li.best-active > a:hover{
    background-color: #00bec6 !important;
    color: #fff !important;
}

.sort-books > li > a{
    font-size: 13px;
    color: #464646;
    padding: 5px 8px;
}

.sort-books > li > a:hover{
    background-color: #eee;
    border-radius: 4px;
    color: #23527c;
}

.best-books-all{

}


.best-books-all > div {
    display: flex;
    align-items: flex-end;
}

.best-books-all > div > div  {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
}

.best-books-all > div > div  a > img {
    border-radius: 7px;
    box-shadow: 10px 6px 14px -2px rgba(0 ,0 ,0 , .17);
    max-width: 100%;
    height: auto;
}



.best-books-all > div > div:hover img {
    box-shadow: -2px 12px 14px -8px #7a7a7a;
}

.best-books-all  > div > div  a {
    text-decoration: none;
}

.best-books-all  > div > div  a > p {
    margin-top: 15px;
    font-size: 12.5px;
    font-weight: 400;
    text-decoration: none;
    color: #636363;
    line-height: 1.5em;

    direction: rtl;
    text-align: right;
    margin-bottom: 0;
    display: block;
    min-height: 50px;
    max-height: 50px;
    height: 3em;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.best-books-all > div > div  a:hover p {
    text-decoration: none !important;
    color: #28c5cc !important;
}

.best-books-all > div > div  > span {
    direction: rtl;
    line-height: 1.5em;
    margin-top: 7px;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 50px;
    color: #333;
}


nav.pagination1 {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

nav.pagination1 > ul.pagination{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    padding: 0;
}

nav.pagination1 > ul.pagination > li{
    outline: none;
}

nav.pagination1 > ul.pagination > li > a{
    color: #666;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    outline: none;
}


.page-active{
    z-index: 2;
    color: #fff !important;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7 !important;
}

.page-active:hover{
    color: #fff !important;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7 !important;
}




.page-item > a:hover,
.page-item > a:focus,
.page-item > a:active,
.page-item > a:not(:disabled):not(.disabled).active,
.page-item > a:not(:disabled):not(.disabled):active,
.show > .page-item > a.dropdown-toggle {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}







footer {
    direction: rtl;

}

.footer-1 {
    padding: 45px 0;
    background: #f0f0f0;
}

.top-footer > div > p {
    color: #424242;
    font-size: 16px;
}

.top-footer > div > ul {
    padding: 0;
}

.top-footer > div > ul > li {
    list-style: none;
    margin-bottom: 10px;
    line-height: 1.7em;
}

.top-footer > div > ul > li > a {
    list-style: none;
    color: #616161;
    font-size: 13px;
    text-decoration: none;
}

.top-footer > div > ul > li > a:hover {
    color: #28c5cc;
}

.left-section > span {
    color: #424242;
    font-size: 16px;
}

.application > div {
    margin-top: 20px;
}

.application > div > a {
    text-decoration: none;
    direction: rtl;
    font-size: 50px;
    padding-right: 5px;
    padding-left: 5px;
}

.application > div > a > i {
    direction: rtl;
    padding: 6px 12px;

}

.application > div > a > i.ti-apple {
    color: #78787b;
}

.application > div > a > i.ti-android {
    color: #a4c639;
}
.application > div > a > i.ti-microsoft {
    color: #28c5cc;
}

.application > div > button {
    background-color: #28c5cc!important;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 12px 63px;
    margin-top: 5px;
}

.applying{
    margin-top: 20px;
}

.applying > p {
    line-height: 1.5em;
    color: #9e9e9e;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 10px;
}

.applying > div > form > div {

}
.applying > div > form > div >input{
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    color: #9e9e9e;
    outline: none;
    margin-left: 4px;
    font-weight: 300;
    height: 34px;
    font-size: 15px;
}

.applying > div > form > div > button{
    background-color: #28c5cc!important;
    border-radius: 10px;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 6px 25px;
}

.support{
    margin-top: 20px;
}

.support > div.weekly {
    margin-top: 15px;
}

.support > div.weekly > p {
    font-size: 14px;
    color: #707070;
    line-height: 1.5em;
}

.support > div.weekly > a {
    color: #000!important;
    text-decoration: none!important;
    font-size: 21px;
}

.icon-application > a {
    color: #616161;
    text-decoration: none;
    border: 2px solid #616161;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 8px 9px 9px;
    margin-left: 15px;
}
.icon-application > a.pinterest-icon{
    margin-left: 0;
}

.icon-application > a.soundcloud-icon:hover {
    color: #ffc107!important;
    border-color:#ffc107 !important ;
    transition:all .5s ease-in;

}
.icon-application > a.facebook-icon:hover{
    color: #315a9d!important;
    border-color:#315a9d !important ;
    transition:all .5s ease-in;
}

.icon-application > a.instagram-icon:hover{
    color: #f5006b!important;
    border-color:#f5006b !important ;
    transition:all .5s ease-in;
}

.icon-application > a.twitter-icon:hover{
    color: #00a4f9!important;
    border-color:#00a4f9 !important ;
    transition:all .5s ease-in;
}
.icon-application > a.pinterest-icon:hover{
    color: #ff0058 !important;
    border-color:#ff0058 !important ;
    transition:all .5s ease-in;
}

.icon-application > a > i{
    font-size: 21px;
}

.footer-2{
    background: #cfcfcf;
    padding: 30px 0;
}

.middle-footer > div > p {
    color: #616161;
    font-size: 14px;
    text-align: justify;
}

.footer-3 {
    background-color: #616161;
    padding: 5px 0;
}

.bottom-footer{
    text-align: center;
}

.bottom-footer > p {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.div-menu-audio{
    background-color: #fff;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    flex-wrap: wrap;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0 , 0.18);
}

.menu-audiobook{
    padding:20px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu-audiobook > li{
    margin: 0 15px 5px 0;
    list-style: none;
    width: 250px;
}

.menu-audiobook > li > a{
    text-decoration: none;
    color: #000!important;
    font-size: 16px;
    font-weight: 500;
}

.menu-audiobook > li > a:hover{
    color: #28c5cc!important;
}

.menu-audiobook > li > ul{
    padding: 0;
}

.menu-audiobook > li > ul > li{
    list-style-type: none;

}

.menu-audiobook > li > ul > li > a {
    text-decoration: none;
    padding: 3px 0;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
    font-size: .9em!important;
}

.menu-audiobook > li > ul > li > a:hover{
    color: #28c5cc!important;
}
